.root {
	flex: 1;
	overflow: hidden;
	color: #edf5e1;
	background-color: #05386B;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	grid-column: 1 / 4;
	width: 100%;
	justify-self: center;
	position: sticky;
	top: 0;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	flex-direction: row;
	padding: 0;
}

.title {
	font-size: 20px;
	margin: 0;
	font-weight: 400;
}

.link:hover {
	color: #fff;
	background-color: #379683;
}

.link {
	min-width: 140px;
	text-align: center;
	text-decoration: none;
	padding: 18px;
	color: #edf5e1;
	box-sizing: border-box;
}
