.root {
	flex: 1;
	overflow: hidden;
	color: #fff;
	background-color: #4660E3;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	margin: 0;
	font-weight: 400;
}

.link:hover {
	color: #fff;
	background-color: #4660E3;
}

.link {
	min-width: 140px;
	text-align: center;
	text-decoration: none;
	padding: 18px;
	color: #fff;
	box-sizing: border-box;
}
