@import '../../variables.css';

.root {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	display: flex;
	flex-direction: column;
}

.column {
	padding: 1rem;
	margin: 1rem;
	background: var(--card-bg-color);
}

.link {
  color: var(--link-color);
}

.link:visited {
  color: var(--link-color)
}

.image {
	/* max-height: 175px; */
	max-width: 420px;
	object-fit: contain;
	display: block;
    margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner {
	color: var(--card-title-color);
}

.date {
	opacity: 0.75;
}

.tags {
	height: 24px;
}

.tag {
	border-radius: 50%;
	height: 24px;
	width: 24px;
	margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
	.root {
		justify-content: center;
	}
	.image {
		max-height: 100px;
	}
}
