---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Signup from "../components/Signup.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.logo-container {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="logo-container">
				<svg
					viewBox="0 0 625 185"
					xmlns="http://www.w3.org/2000/svg"
					fill-rule="evenodd"
					clip-rule="evenodd"
					stroke-linejoin="round"
					stroke-miterlimit="2"
				>
					<g transform="matrix(.12894 0 0 .12894 -117.297 -68.673)">
						<path
							d="M1313.04 1946.7s396.066-698.14 396.066-997.343c0-218.595-177.471-396.067-396.066-396.067-218.595 0-396.067 177.472-396.067 396.067 0 299.203 396.067 997.343 396.067 997.343zm0-1165.91c117.73 0 213.311 95.581 213.311 213.311s-95.581 213.312-213.311 213.312-213.312-95.582-213.312-213.312c0-117.73 95.582-213.311 213.312-213.311z"
						></path>
						<circle cx="1313.04" cy="994.104" r="159.984"></circle>
					</g>
					<path
						d="M149.024 32.002c15.18 0 27.504 12.324 27.504 27.504 0 15.18-12.324 27.504-27.504 27.504-15.18 0-27.504-12.324-27.504-27.504 0-15.18 12.324-27.504 27.504-27.504zm0 6.876c11.385 0 20.628 9.243 20.628 20.628s-9.243 20.628-20.628 20.628-20.628-9.243-20.628-20.628 9.243-20.628 20.628-20.628z"
					></path>
					<path
						d="M169.65 12.854h6.876V59.71h-6.876zM247.296 32.002c15.18 0 27.504 12.324 27.504 27.504 0 15.18-12.324 27.504-27.504 27.504-15.18 0-27.504-12.324-27.504-27.504 0-15.18 12.324-27.504 27.504-27.504zm0 6.876c11.385 0 20.628 9.243 20.628 20.628s-9.243 20.628-20.628 20.628-20.628-9.243-20.628-20.628 9.243-20.628 20.628-20.628zM323.045 55.426h49.544v6.859h-49.544z"
					></path>
					<path
						d="M372.017 68.12c-3.615 10.966-13.951 18.89-26.124 18.89-15.18 0-27.504-12.324-27.504-27.504 0-15.18 12.324-27.504 27.504-27.504 15.18 0 27.505 12.324 27.505 27.504l-.143 2.778h-6.92l.186-2.778c0-11.385-9.243-20.628-20.628-20.628s-20.628 9.243-20.628 20.628 9.243 20.628 20.628 20.628c8.31 0 15.48-4.925 18.741-12.014zM510.662 55.426h49.544v6.859h-49.544z"
					></path>
					<path
						d="M559.634 68.12c-3.616 10.966-13.952 18.89-26.124 18.89-15.18 0-27.504-12.324-27.504-27.504 0-15.18 12.324-27.504 27.504-27.504 15.18 0 27.504 12.324 27.504 27.504l-.142 2.778h-6.92l.186-2.778c0-11.385-9.243-20.628-20.628-20.628s-20.628 9.243-20.628 20.628 9.243 20.628 20.628 20.628c8.31 0 15.48-4.925 18.74-12.014z"
					></path>
					<g>
						<path
							d="M456.928 53.652c-.158-9.687-8.077-17.5-17.806-17.5-9.718 0-17.63 7.795-17.803 17.468v33.533h-5.942V54.3l-.017-.326.017-.327v-.503h.025c.41-12.731 10.884-22.932 23.72-22.932 12.837 0 23.31 10.2 23.72 22.932h.027v.536l.015.294-.015.294v32.885h-5.941z"
						></path>
					</g>
					<g>
						<path
							d="M604.849 80.64a13.52 13.52 0 01-1.94-6.963V13.296h7.219v18.592h13.935v7.22h-13.935v34.574c.026 3.778 2.856 6.844 6.71 6.95l.13.002h7.091v7.014h-7.092a14.45 14.45 0 01-6.84-1.867 14.156 14.156 0 01-5.278-5.141z"
						></path>
					</g>
				</svg>
			</div>
			<div class="avatar">
				<img
					width="60px"
					height="60px"
					src="/assets/images/avatar.jpg"
					alt="Rene Rubalcava"
					class="avatar__image"
				/>
			</div>
			<div class="main-content">
				<p>Hi! I'm Rene Rubalcava and this is odoenet!</p>
				<p>You can find me in a number of places!</p>
				<ul>
					<li>
						<a
							href="https://theboundingbox.podbean.com/"
							target="_blank"
							rel="nofollow"
							>podcast
						</a>
					</li>
					<li>
						<a
							href="https://github.com/odoe"
							target="_blank"
							rel="nofollow"
							>github
						</a>
					</li>
					<li>
						<a
							href="https://twitter.com/odoenet"
							target="_blank"
							rel="nofollow"
							>twitter
						</a>
					</li>
					<li>
						<a
							href="https://www.twitch.tv/odoenet"
							target="_blank"
							rel="nofollow"
							>twitch
						</a>
					</li>
					<li>
						<a
							href="https://www.youtube.com/c/ReneRubalcava"
							target="_blank"
							rel="nofollow"
							>youtube
						</a>
					</li>
					<li>
						<a
							href="https://www.linkedin.com/in/renerubalcava/"
							target="_blank"
							rel="nofollow"
							>linkedin
						</a>
					</li>
					<li>
						<a
							href="https://learn-dojo.com/"
							target="_blank"
							rel="nofollow"
							>learn-dojo
						</a>
					</li>
				</ul>
				<p>
					If you happen to notice problems, typos, or needed edits,
					please make an issue <a
						href="https://github.com/odoe/odoenet/issues"
						target="_blank"
						rel="nofollow"
						>here
					</a>.
				</p>
				<p>
					If you are so inclined, you can donate <a
						href="https://donate.cipherdogs.net/?address=49FdUbruv6F5otJqapanaJcoLLoosDyoL5gs7XavTATmZGAKb6j2neUNbQ1o1SuXtpZisd4GZ8scRDvwbbMHzPtKSMyH8rz"
						target="_blank"
						rel="nofollow"
						>Monero here
					</a>.
				</p>
			</div>
		</main>
		<Signup />
		<Footer />
	</body>
</html>
