---
const today = new Date();
---

<footer>
	<div class="main-content">
		<p>
			Built with <a
				href="https://astro.build/"
				target="_blank"
				rel="nofollow">astro</a
			>
		</p>
		<p>
			If you are so inclined, you can donate <a
				href="https://donate.cipherdogs.net/?address=49FdUbruv6F5otJqapanaJcoLLoosDyoL5gs7XavTATmZGAKb6j2neUNbQ1o1SuXtpZisd4GZ8scRDvwbbMHzPtKSMyH8rz"
				target="_blank"
				rel="nofollow"
				>Monero here
			</a>.
		</p>
	</div>
	&copy; {today.getFullYear()} odoenet LLC. All rights reserved.
</footer>
<style>
	footer {
		gap: 25px;
		text-align: center;
	}
</style>
