---
const today = new Date();
---

<footer>
	<div class="main-content">
		<p>
			Built with <a
				href="https://astro.build/"
				target="_blank"
				rel="nofollow">astro</a
			>
		</p>
		<p>
			If you are so inclined, you can donate <a
				href="https://donate.cipherdogs.net/?address=49FdUbruv6F5otJqapanaJcoLLoosDyoL5gs7XavTATmZGAKb6j2neUNbQ1o1SuXtpZisd4GZ8scRDvwbbMHzPtKSMyH8rz"
				target="_blank"
				rel="nofollow"
				>Monero here
			</a>.
		</p>
	</div>
	&copy; {today.getFullYear()} odoenet LLC. All rights reserved.

	<a
		href="https://odoe.net/rss.xml"
		aria-label="RSS Feed"
		target="_blank"
		rel="nofollow"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="12px"
			height="12px"
			viewBox="0 0 310 310"
			><path
				d="M90.244 264.828C90.244 240.11 70.139 220 45.427 220 20.712 220 .605 240.11.605 264.828c0 24.714 20.107 44.82 44.822 44.82 24.712 0 44.817-20.106 44.817-44.82z"
			></path><path
				d="M5.648 169.43c35.961 0 69.782 14.066 95.231 39.605 25.45 25.583 39.467 59.648 39.467 95.92a5 5 0 005 5h57.486a5 5 0 005-5c0-111.952-90.699-203.031-202.185-203.031a5 5 0 00-5 5v57.505a5.002 5.002 0 005.001 5.001z"
			></path><path
				d="M5.726 0a5 5 0 00-5 5v57.495a5 5 0 005 5c130.24 0 236.199 106.544 236.199 237.505a5 5 0 005 5h57.471a5 5 0 005-5c0-168.178-136.226-305-303.67-305z"
			></path>
		</svg>
	</a>
</footer>
<style>
	footer {
		font-size: 75%;
		gap: 25px;
		text-align: center;
	}
</style>
