/* Put your styles and imports here */

@import './typography.css';

body {
	margin: 0;
	padding: 0;
	color: hsla(291, 0%, 18%, 0.95);
	background-color: hsl(0,0%,94.9%);
	/* background-color: #8ee4af; */
}

header {
	font-family: 'Fira Mono', monospace;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
}

#root {
	display: flex;
	flex-direction: column;
	/* display: grid;
	grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr); */
	/* grid-template-columns: 1fr minmax(280px, 800px) 1fr; */
}

article img {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

code[class*=language-],
pre[class*=language-] {
	font-size: 14px;
}

@media only screen and (max-width: 480px) {
	article img {
		display: block;
		max-width: 300px;
		margin: 0 auto;
	}
}

