.root {
	display: grid;
	grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
	padding: 0;
	overflow: hidden;
	margin-top: 1rem;
}

.section {
	grid-column: 2;
}

@media only screen and (max-width: 900px) {
	.root {
		grid-column: 1 / 6;
		padding: 0;
  }

	.section {
		grid-column: 1 / 6;
		padding: 0 2rem;
	}
}

@media only screen and (max-width: 480px) {
	.root {
		grid-column: 1 / 6;
		padding: 0;
	}

	.section {
		grid-column: 1 / 6;
		padding: 0 2rem;
	}
}
